<header id="main-header">
    <!--//==Topbar Start==//-->
    <div id="top-bar" class="wa-theme-bg color-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 pull-left">
                    <ul class="inline">
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +919993480549</a></li>
                        <li class="textnormal"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> webaashi@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 pull-right">
                    <ul class="inline">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                        <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--//==Topbar End==//-->
    <!--//==Navbar Start==//-->
    <div id="main-menu" class="wa-main-menu">
        <div class="wathemes-menu relative">
            <div class="navbar navbar-default navbar-bg-light" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <!-- Button For Responsive toggle -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span></button> 
                                <!-- Logo -->
                                <a class="navbar-brand" href="index.html">
                                <img class="site_logo" alt="Site Logo"  src="assets/img/logo.png" />
                                </a>
                            </div>
                            <!-- Navbar Collapse -->
                            <div class="navbar-collapse collapse">
                                <!-- Right nav Start -->
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="team-detail.html">Team Detail</a></li>
                                            <li><a href="404.html">404 Error page</a></li>
                                            <li><a href="default-page.html">Default Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">blog</a> 
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-style1.html">Blogs Style 1</a></li>
                                            <li><a href="blog-style2.html">Blogs Style 2</a></li>
                                            <li><a href="blog-style3.html">Blogs Style 3</a></li>
                                            <li>
                                                <a href="#">Blog Detail</a>										  
                                                <ul class="dropdown-menu">
                                                    <li><a href="blog-single-sidebar.html">With Sidebar</a></li>
                                                    <li><a href="blog-single-full-width.html">Without Sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Dishes</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="dishes-sidebar.html">Dishes Style 1</a></li>
                                            <li><a href="dishes-fullwidth.html">Dishes Style 2</a></li>
                                            <li><a href="dishes-detail.html">dish detail</a></li>
                                            <li><a href="cart.html">Cart Page</a></li>
                                            <li><a href="checkout.html">Checkout Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="FAQ.html">faq</a></li>
                                    <li><a href="login-area.html">login area</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                <!-- /.Right nav  End-->
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
    <!--//==Navbar End==//-->
</header>