        <!--//==Header End==//-->
        <!--//=======Main Slider=======//--> 	 			
        <div class="wa_main_bn_wrap">
            <div id="home1-main-slider" class="owl-carousel owl-theme">
                <div class="item">
                    <figure>
                        <img src="assets/img/slider/1.jpg" class="hidden-xs hidden-sm " alt=""/>
                        <img src="assets/img/slider/1xs.jpg" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="item">
                    <figure>
                        <img src="assets/img/slider/2.jpg" class="hidden-xs hidden-sm " alt=""/>
                        <img src="assets/img/slider/2xs.jpg" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="item">
                    <figure>
                        <img src="assets/img/slider/3.jpg" class="hidden-xs hidden-sm" alt=""/>
                        <img src="assets/img/slider/3xs.jpg" class="hidden-lg hidden-md" alt=""/>
                        <figcaption>
                            <span>vero volo in esse quam maximam</span>
                            <h2><span class="wa-theme-color">Restaurant & Cafe template</span></h2>
                            <p>Quis est tam dissimile homini. Quia dolori non voluptas.</p>
                            <a href="#" class="theme-button">read more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <!--//=======Main Slider End=======//--> 
        <!--//=======About Section Start=======//--> 
        <section class="about-section padT100">
            <div class="container">
                <!--//==Section Heading Start==//-->
                <div class="centered-title">
                    <h2>About Us <span class="heading-border"></span></h2>
                    <div class="clear"></div>
                    <em>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <br>inventore veritatis et quasi architecto beatae</em>
                </div>
                <!--//==Section Heading End==//-->
                <div class="content-container">
                    <!--about Box-->
                    <div class="about-box">
                        <!--about Content-->
                        <div class="about-content">
                            <div class="about">
                                <div class="clearfix">
                                    <!--Image Column-->
                                    <div class="column image-column col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner">
                                            <figure class="image-box"><img src="assets/img/all/featured-image.png" alt=""></figure>
                                        </div>
                                    </div>
                                    <!--Content Column-->
                                    <div class="column content-column col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner padT100">
                                            <h2>Laudantium, totam rem aperiam</h2>
                                            <p>It has survived not only five centuries, but also the leap into ele ctronic typesetting, remaining essentially un changed The industry's standard dummy text ever 
                                                since doloremque .
                                            </p>
                                            <div class="row hidden-xs hidden-sm padTB50">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <img src="assets/img/all/about-1.jpg" class="img-circle" alt="">
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <img src="assets/img/all/about-2.jpg" class="img-circle" alt="">
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <img src="assets/img/all/about-3.jpg" class="img-circle" alt="">
                                                </div>
                                            </div>
                                            <p>leap into ele ctronic typesetting, changed The text ever 
                                                since doloremque laudantium, totam rem aperiam.
                                            </p>
                                            <div class="clear"></div>
                                            <a href="#" class="theme-button marT10">Read more</a>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//=======About Section Start=======//--> 
        
        <!--//=============Dishes Start============//-->
        <div class="wa-dishes-main padTB100">
            <div class="container">
                <div class="row">
                    <!--//==Section Heading Start==//-->
                    <div class="col-md-12">
                        <div class="centered-title">
                            <h2>Special Dishes <span class="heading-border"></span></h2>
                            <div class="clear"></div>
                            <em>dNam ac egestas est. Mauris et pulvinar risus, at tincidunt lorem. Maecenas<br>
                            tristique sit amet odio sit amet aliquet.</em>
                        </div>
                    </div>
                    <!--//==Section Heading End==//-->
                </div>
                <div class="row" id="MixItUp1">
                    <ul id="show-item">
                        <li *ngFor="let item of collection | paginate: { itemsPerPage: 8, currentPage: numberPages }">
                            <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-0 mix" >
                                <div class="wa-dishes">
                                    <div class="wa-dishes-thumbnail wa-item">
                                        <img src={{item.product_image}} alt="">
                                        <div class="caption">
                                            <div class="caption-text">
                                                <ul class="wa-dishes-icon">
                                                    <li><a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#0" class="wa-trigger quickview-box-btn" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" title="Add to compare"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                                <div class="clear"></div>
                                                <a href="dishes-detail.html" class="theme-button marT10">order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wa-dishes-caption">
                                        <h2><a href="dishes-detail.html">
                                            {{item.product_name}}</a>
                                        </h2>
                                        <div class="clear"></div>
                                        <ul class="ratings">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                        </ul>
                                        <div class="clear"></div>
                                        <span class="price">
                                            {{item.product_prices | number}}
                                        </span>
                                    </div>
                                </div>
                            </div> 
                        </li>
                    </ul>
                    <!--//==Dishes Item==//-->
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//=============Dishes End============//-->
        <!--//=======Our Team Section Start=======//-->

        <!--//=========Fun Facts End=========//-->	  
        <!--//=========Home Blogs Start=========//-->	 

        <!--//=========Home Blogs End=========//-->	
        <!--//=========Partners Start=========//-->