        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>Checkout Page</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active">Checkout Page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//== Order Billing and shipping Section Start ==//-->  
        <section class="checkout-page padTB100">
            <div class="container">
                <div class="row pad-s15">
                    <!--//==Billings and Shipping Form Start==//-->	
                    <form class="contact-form">
                        <div class="col-sm-6 col-md-6 wv_checkout_left marT30">
                            <!--//== Section Heading Start ==//-->
                            <div class="left-title">
                                <h2>Billings details <span class="heading-border"></span></h2>
                                <div class="clear"></div>
                            </div>
                            <!--//== Section Heading End ==//-->
                            <!--//==Billings Form Start==//-->	
                            <div class="row">
                                <!--//==Billings Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="First Name:">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Last Name:">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Company Name:">
                                </div>
                                <!--//==Billings Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="email" id="exampleInputEmail" placeholder="Email:">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="number" placeholder="Phone Number:">
                                </div>
                                <!--//==Billings Input Field==//-->
                                <div class="col-md-12 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Street Address:">
                                </div>
                                <!--//==Billings Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Town/City:">
                                </div>
                                <!--//==Billings Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Postcode/zip:">
                                </div>
                                <!--//==Create Account Input Field==//-->
                                <div class="col-md-12 form-group">
                                    <div class="wv_widget wv_checkout_check">
                                        <input type="checkbox" class="grey" name="pink" id="grey">
                                        <label for="grey">Create an account?</label>
                                    </div>
                                </div>
                            </div>
                            <!--//==Billings Form Start==//-->	
                        </div>
                        <div class="col-sm-6 col-md-6 marT30">
                            <!--//== Section Heading Start ==//-->
                            <div class="left-title">
                                <h2>Shipping details <span class="heading-border"></span></h2>
                                <div class="clear"></div>
                            </div>
                            <!--//== Section Heading End ==//-->
                            <!--//==Shipping Form Start==//-->							
                            <div class="row">
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="First Name:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Last Name:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-12 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Company Name:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="email" id="exampleInputEmail1" placeholder="Email:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="number" placeholder="Phone Number:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-12 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Street Address:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Town/City:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-6 form-group">
                                    <input class="wv_form_focus" type="text" placeholder="Postcode/zip:">
                                </div>
                                <!--//==Shipping Input Field==//-->
                                <div class="col-md-12 form-group">
                                    <textarea name="contact_message" class="textarea-message wv_form_focus wv_checkout_tarea" placeholder="Message:" rows="4"></textarea>							
                                </div>
                                <!--//==Form Submit==//-->								
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="theme-button col-xs-12">Save Detail</button>
                                </div>
                            </div>
                            <!--//==Shipping Form End==//-->	
                        </div>
                    </form>
                    <!--//==Billings and Shipping Form End==//-->	
                </div>
            </div>
        </section>
        <!--//== Order Billing and shipping Section End ==//-->  	
        <!--//== Place Order Start ==//-->  
        <section class="cart-page grey-bg padTB100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 wv_subtotal">
                        <!--//== Section Heading Start ==//-->
                        <div class="centered-title">
                            <h2>Order Detail <span class="heading-border"></span></h2>
                            <div class="clear"></div>
                            <em>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <br>inventore veritatis et quasi architecto beatae</em>
                        </div>
                        <!--//== Section Heading End ==//-->
                        <!--//== Total Price Section Start ==//-->
                        <div class="wv_shipping">
                            <div class="wv_subtotaling wv_checkout_subtotal">
                                <div class="col-xs-6 col-md-6 wv_subtotal_left textL">
                                    <p>Products</p>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_right textR">
                                    <p>Total</p>
                                </div>
                            </div>
                            <div class="wv_subtotaling wv_checkout_subtotal1 padT10">
                                <div class="col-xs-6 col-md-6 wv_subtotal_left textL">
                                    <span>Dish Name Here x 1</span>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_right textR">
                                    <span>$170.00</span>
                                </div>
                                <div class="clear"></div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_left textL">
                                    <span>Dish Name Here x 1</span>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_right textR">
                                    <span>$170.00</span>
                                </div>
                            </div>
                            <div class="wv_subtotaling">
                                <div class="col-xs-6 col-md-6 wv_subtotal_left textL">
                                    <p>subtotal</p>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_right textR">
                                    <p>$340.00</p>
                                </div>
                            </div>
                            <div class="wv_subtotaling">
                                <div class="col-xs-6 col-md-6 wv_subtotal_left textL">
                                    <p>Deduction</p>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_subtotal_right textR">
                                    <p>-$15.00</p>
                                </div>
                            </div>
                            <div class="wv_totaling">
                                <div class="col-xs-6 col-md-6 wv_total_left textL">
                                    <p>Total</p>
                                </div>
                                <div class="col-xs-6 col-md-6 wv_total_right textR">
                                    <p>$325.00</p>
                                </div>
                            </div>
                            <div class="wv_totaling">
                                <button type="submit" class="theme-button col-xs-12 marT30">Place Order</button>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!--//== Total Price Section End ==//-->
                    </div>
                </div>
            </div>
        </section>
        <!--//== Place Order End ==//--> 